body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 50;
}

section {
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

h2 {
    color: #4CAF50;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

nav {
    margin: 10%;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(1px);
    padding: 1rem;
    position: relative;
    width: 80%;
    left: 40%;
    transform: translateX(-50%);
    border-radius: 30px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
    top:2rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #e8dede;
  }
  
  .active {
    background-color: #35574b;
  }

  div.gallery {
    display: inline-block;
    margin: 15px;
    border: 1px solid #ccc;
    width: 100px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    border: 2px solid #ddd;

  }
  
  div.desc {
    padding: 5px;
    text-align: center;
  }